$background: #2e3440;
$surface0: #3b4252;
$surface1: #434c5e;
$surface2: #4c566a;
$foreground1: #d8dee9;
$foreground0: #e5e9f0;
$foreground: #eceff4;
$accent: #88c0d0;
$accent0: #8fbcbb;
$secondary: #81a1c1;
$tertiary: #5e81ac;
$red: #bf616a;
$orange: #d08770;
$yellow: #ebcb8b;
$green: #a3be8c;
$purple: #b48ead;

* {
    all: unset;
    font-family: sans-serif, "Symbols Nerd Font"
}

@import "powermenu";
@import "overlay";
@import "notifications";
