.progress_bar {
    background-color: $background;
    padding: 0.5rem 1rem;
    
    label {
        color: $foreground;
        margin-right: 1rem;
        font-size: 1.5rem;
    }
    
    progressbar trough {
        background: $surface1;
        min-height: 1rem;
    }
    
    progressbar trough progress {
        background: $accent;
        min-height: 1rem;
    }
}