* {
    all: unset;
}

.powermenu {
    background-color: rgba(0, 0, 0, 0.5);
}

.power_box {
    background-color: $background;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    color: $foreground;
}

.btn_box {
    font-size: 3rem;
    margin: 1rem 0;

    button {
        margin: 0 0.25rem;
        padding: 0.8rem 2.4rem;
        border-radius: 1rem;

        background-color: $surface0;
        color: $foreground;

        &:hover {
            background-color: $surface2;
        }

        &:first-child {
            color: $red;
        }
    }
}
