* {
    border: none;
    color: #e5e9f0;
    font-size: 14px;
    font-family: sans-serif, "Nerd Font Symbols";
}

window#waybar {
    background: #3b4252;
}

tooltip {
    background: #3b4252;
    border: 1px solid #434c5e;
}

.module {
    background: transparent;
    padding: 0.25rem 0.75rem 0.25rem 0.7rem;
    margin: 0 0.5rem;
/*    border-radius: 0.5rem; */
}

#clock, custom-updates {
    padding: 0.25rem 0 0 0;
}

#custom-updates:hover, #custom-power:hover, #custom-search:hover, #network:hover, #battery:hover {
    background: #4c566a;
}

#network {
    margin: 0 0rem 0 0rem;
}

#tags button {
    padding: 0.1rem 0.5rem;
}

#tags button:hover {
    background: #4c566a;
    border: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

#tags button.focused {
    background: #8fbcbb;
    margin: 0;
    border-radius: 0;
}
