configuration {
    modes: [ drun, calc ];
    show-icons: true;
    display-drun: "";
    display-calc: "󰾞";
    font: "Lato 16";
    drun-display-format: "{name}";
}

textbox-prompt-colon {
    str: "";
}
