* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: Lato, Roboto, Nerd Font Symbols, sans;
    font-size: 16px;
}

window#waybar {
    all: unset;
}

.modules-left, .modules-right, .modules-center {
    background: rgba(76, 86, 106, 0.6);
    border-radius: 0.8rem;
    margin: 0.3rem;
}

.module {
    background: transparent;
    color: #eceff4;
    margin: 0.3rem 0.8rem;
}

#workspaces button {
    all: unset;
    background: transparent;
    color: rgba(46, 52, 64, 0.6);
    margin: 0 0.3rem;
    padding-top: 0.15rem;
}

#workspaces button:hover {
    color: #2e3440;
}

#workspaces button.visible {
    background: transparent;
    color: #88c0d0;
}

#custom-power:hover, #temperature.critical {
    color: #bf616a;
}

#custom-reboot:hover {
    color: #d08770;
}

#custom-logout:hover {
    color: #ebcb8b;
}

#battery-group, #network-group {
    padding: 0 0.6rem;
}

#network, #battery {
    margin: 0.3rem;
    padding: 0.15rem;
}

#power, #settings, #battery-group, #network-group {
    border-radius: 0.8rem;
    transition: background 0.3s;
}

#power:hover, #settings:hover, #battery-group:hover, #network-group:hover {
    background: rgba(46, 52, 64, 0.6);
}
