* {
    border: none;
    margin: 0;
    padding: 0;
    color: #eceff4;
    font-family: Roboto, Nerd Font Symbols, sans;
    font-size: 8px;
}

window#waybar {
    background-color: #2e3440;
}

.module {
    background: transparent;
    margin: 0.25rem 0.5rem;
}

#workspaces button {
    padding: 0px 0.25rem;
    border-radius: 0.5rem;
}

#workspaces button:hover {
    background-color: #88c0d0;
}

#workspaces button.visible {
    background-color: #88c0d0;
}
